body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(175, 230, 175);
}


h1{
	text-align: center;
	color: rgb(172, 111, 32);
}

.my-box{
	max-width: 400px;
	margin: 50px auto;
	margin-top: 80px;
	background-color: rgb(183, 237, 238);
	padding: 50px;
	border: 1px solid;
	border-radius: 20px;

}

label{
	display: block;
	margin-bottom: 10px;
	color: rgb(212, 91, 26);
	font-weight: bold;

}

input[type='text'],
input[type='password']{
	width: 200px;
	padding:8px;
	border-radius: 5px;
	border: 1px solid;
}

input[type='submit']{
	background-color: darksalmon;
	margin: 8px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid;
	cursor: pointer;
}

input[type='submit']:hover{
	background-color: aqua;
}
p{
	text-align: center;
	color: green;
}