<!DOCTYPE html>
<html lang="en">
<head>
	<title>Admin Dashboard</title>
</head>
<body>
	<div class="box">
		<div class="back">
			<a href ="{{url_for('logout')}}" class="back">Logout</a>
		</div>
		<h1> Hi {{name}}! Welcome to the Admin Dashboard</h1>
		<div class="Section">
			<h2>Categories</h2>
			<a href ="{{url_for('create_category',curr_login_id=data.curr_login_id)}}" class="back">Create Category</a>
			{%for category in data.categories%}
			<div class="Category">
				<h3 class="cat-name">{{category.name}}</h3>
				<a href ="{{url_for('edit_category',curr_login_id=data.curr_login_id,category_id=category.id)}}" 
				class="back">Edit</a>
				<a href ="{{url_for('remove_category',curr_login_id=data.curr_login_id,category_id=category.id)}}"
				 class="back">Remove</a>
			</div>
			{% endfor %}
		</div>
	</div>


			


</body>
</html>